name: EmailSender

on:
  schedule:
    - cron: "*/30 * * * *"   # elke 30 minuten
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Run weather bot
        env:
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        run: python EmailSender.py
